.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 40px;
}

.card {
  width: 330px;
  height: 350px;
  margin-bottom: 20px;
}
