.box {
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

th,
td {
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  color: black;
  background-color: snow;
  text-align: center;
}

th {
  background-color: #ddd;
}
