.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 8px 16px;
  background-color: #f2f2f2;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #333;
  color: #fff;
}
